<div>
  <label for="title">Title</label>
  <div>
    <input
        type="text"
        name="title"
        class="w-full truncate"
        autofocus
        value="{{ drop.title }}"
    />
  </div>
</div>

<div>
  <label for="url">URL</label>
  <div>
    <input
        type="text"
        name="url"
        class="w-full truncate"
        value="{{ drop.url }}"
    />
  </div>
</div>

<div>
  <label for="tags">Tags</label>
  <div>
    <select name="tags" class="w-full select-multiple" multiple>
      {% for tag in tag_options %}
      <option
        value="{{tag.id}}"
        data-color="{{tag.color}}"
        {% if drop.tags.contains(tag.id) %}selected{% endif %}
      >
        {{tag.name}}
      </option>
      {% endfor %}
    </select>
  </div>
</div>
