{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block main %}
<h1>New Drop</h1>

<form
  method="POST"
  action="{{ crate::controllers::drops::Collection.to_string() }}"
>
  {% call macros::form_errors("Drop", drop.errors) %}

  {% include "_fields.html" %}

  {# TODO(tags): multi-select tags #}

  <div>
    <button type="submit" class="btn btn-gray">Create Drop</button>
  </div>
</form>

<p>
  Drag this to your bookmarks bar to easily add new drops to Firehose:
  <a href="{{ bookmarklet }}">Add to Firehose</a>
</p>
{% endblock %}
