{% extends "layouts/base.html" %}

{% block main %}
<h1>Internal Server Error</h1>

<p>Whoops! Something happened that the server couldn't recover from.</p>

<p>Please try again to see if it was a temporary failure.</p>

<p>
  If this is a consistent error,
  <a href="mailto:jdkaplan@metagram.net">email me</a>
  and I'll see what I can do.
</p>

{% match context.request_id %}
{% when Some(request_id) %}
<p>If you'd like to investigate, this was the request ID: <code>{{ request_id }}</code></p>
{% when None %}
<p>The error handler couldn't extract the request ID to show here. If you'd like to investigate, you might still find one in the HTTP response headers.</p>
{% endmatch %}
{% endblock %}
