{% extends "layouts/base.html" %}

{% block main %}
<h1>About</h1>

<p>Metagram is proudly built on top of free and open source software. Thank you
to everyone who has contributed to the frameworks, libraries, tools, and
everything else that makes it possible to create this.</p>

<p>Check out the <a href="{{ source_url }}">source code</a>!</p>

<p>{{ crate_version }} ({{ build_info }})</p>

<a href="{{ crate::controllers::home::Licenses.to_string() }}">
  View all licenses
</a></p>
{% endblock %}
