{% match stream %}
{% when firehose::Stream::Status with (stream) %}
  {% let status = stream.status.to_string() %}
  <a
    href="{{ crate::web::streams::Member::path(status.as_str()) }}"
    class="text-2xl break-words no-underline"
  >
    <div class="flex flex-row md:flex-col md:content-center justify-between md:justify-center border-2 rounded-lg p-3">
      <span>{{ "{}"|format(status)|capitalize }}</span>

      <span class="mb-2">(All {{status}})</span>
    </div>
  </a>

{% when firehose::Stream::Custom with (stream) %}
  <a
    href="{{ crate::web::streams::Member::path_uuid(stream.stream.id) }}"
    class="text-2xl break-words no-underline"
  >
    <div class="flex flex-row md:flex-col md:content-center justify-between md:justify-center border-2 rounded-lg p-3">
      <span>{{ stream.stream.name }}</span>

      <span class="tags mb-2 space-x-2">
        {% for tag in stream.tags %}
          {% include "firehose/tags/_badge_no_link.html" %}
        {% endfor %}
      </span>
    </div>
  </a>
{% endmatch %}
