{% extends "layouts/firehose.html" %}

{% block main %}
  <h1>Streams</h1>

  {# TODO: big cards with tag badges inside #}
  <ul class="list-bulleted">
    {% for stream in streams %}
      {% match stream %}
      {% when firehose::Stream::Status with (stream) %}
        {% let status = stream.status.to_string() %}
        <li>
          <a href="{{ crate::controllers::streams::Member::path(status.as_str()) }}">
            {{ "{}"|format(status)|capitalize }}
          </a>
        </li>
      {% when firehose::Stream::Custom with (stream) %}
        <li>
          <a href="{{ crate::controllers::streams::Member::path_uuid(stream.stream.id) }}">
            {{ stream.stream.name }}
          </a>

          {# TODO: (<a href="{{ crate::controllers::streams::Edit::path(stream.id.to_string()) }}">edit</a>) #}
        </li>
      {% endmatch %}
    {% endfor %}
  </ul>

  <p><a href="{{ crate::controllers::streams::New.to_string() }}">New stream</a>
{% endblock %}
