{% extends "layouts/firehose.html" %}

{% import "macros/drop.html" as _drop %}

{% block main %}
  {% match stream %}
  {% when firehose::Stream::Status with (stream) %}
  {% when firehose::Stream::Custom with (stream) %}
    <h1>{{ stream.stream.name }}</h1>

    <ul class="my-2 inline-block">
      {% for tag in stream.tags %}
        <li>{% include "firehose/tags/_badge.html" %}</li>
      {% endfor %}
    </ul>

    <a href="{{ crate::controllers::streams::Edit::path(stream.stream.id) }}">Edit</a>
  {% endmatch %}

  {% if drops.is_empty() %}
    <p>There's nothing here!</p>
    <p>
      If you're new to Firehose, welcome! Find something you've been meaning to read,
      watch, or listen to and
      <a href="{{ crate::controllers::drops::New.to_string() }}">add it</a>.
    </p>
    <p>If you really did actually make it to the end... congratulations?</p>
    <p></p>
  {% else %}
    <ul>
      {% for drop in drops %}
        {% include "firehose/drops/_card.html" %}
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
