{% extends "layouts/firehose.html" %}

{% import "macros/drop.html" as _drop %}

{% block main %}
  {% match stream %}
  {% when firehose::Stream::Status with (stream) %}
  {% when firehose::Stream::Custom with (stream) %}
    <h1>{{ stream.stream.name }}</h1>

    <ul class="my-2 inline-block">
      {% for tag in stream.tags %}
        <li>{% include "firehose/tags/_badge.html" %}</li>
      {% endfor %}
    </ul>

    {# TODO; <a href="{{ crate::controllers::streams::Edit::path_id(drop.id) }}">Edit</a> #}
  {% endmatch %}

  {% if drops.is_empty() %}
    <p>You've reached the end of the stream!</p>
  {% else %}
    <ul>
      {% for drop in drops %}
        {% include "firehose/drops/_card.html" %}
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
