{% extends "layouts/firehose.html" %}
{% import "macros/form.html" as form %}

{% block main %}
<h1>Edit Hydrant</h1>

<form
  method="POST"
  action="{{ crate::web::hydrants::Member::path(id) }}"
>
  {% call form::csrf(context) %}
  {% call form::errors("Hydrant", hydrant.errors) %}

  {% include "_fields.html" %}

  <div>
    <button type="submit" class="btn btn-gray">Save Hydrant</button>
  </div>
</form>

<div class="mt-4 pb-4 border-t border-gray-300 dark:border-gray-700"></div>

<form
  method="POST"
  action="{{ crate::web::hydrants::Delete::path(id) }}"
>
  {% call form::csrf(context) %}
  <button type="submit" class="btn btn-gray">Delete Hydrant</button>
</form>
{% endblock %}
