{% extends "layouts/firehose.html" %}

{% block main %}
  <h1>Hydrants</h1>

  {# TODO: big cards with url and tag badges inside, deemphasize inactive #}
  <ul class="list-bulleted">
    {% for hydrant in hydrants %}
      <li>
        <a href="{{ crate::controllers::hydrants::Member::path(hydrant.hydrant.id) }}">
          {{ hydrant.hydrant.name }}
        </a>

        (<a href="{{ crate::controllers::hydrants::Edit::path(hydrant.hydrant.id) }}">edit</a>)
      </li>
    {% endfor %}
  </ul>

  <p><a href="{{ crate::controllers::hydrants::New.to_string() }}">New hydrant</a>
{% endblock %}
