<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    {% match context.request_id %}
    {% when Some(request_id) %}
    <meta name="x-request-id" content="{{request_id}}" />
    {% when None %}
    <meta name="x-request-id" content="(missing)" />
    {% endmatch %}

    <title>{% block title %}Firehose{% endblock %}</title>

    <link rel="stylesheet" href="/dist/js/app.css" />
    <link rel="stylesheet" href="/dist/css/index.css" />

    <script type="text/javascript" src="/dist/js/app.js" defer></script>

    {% block head %}{% endblock %}
  </head>

  <body class="dark:text-white dark:bg-gray-900">
    <nav class="bg-gray-50 dark:bg-gray-800 py-1 px-2">
      <ul class="md:flex md:justify-between">
        <div class="md:flex md:space-x-4">
          <li><a href="{{ crate::controllers::home::Root.to_string() }}">Metagram</a></li>
          <li><a href="{{ crate::controllers::firehose::Root.to_string() }}">Firehose</a></li>
          <li><a href="{{ crate::controllers::home::About.to_string() }}">About</a></li>
        </div>
        <div class="md:flex md:space-x-4">
          {% match user %}
          {% when Some(user) %}
          <form method="POST" action="{{ crate::controllers::auth::Logout.to_string() }}">
            <input
              type="hidden"
              name="authenticity_token"
              value="{{ context.csrf_token.authenticity_token() }}"
            />
            <button type="submit">Log out</button>
          </form>
          {% when None %}
          <a href="{{ crate::controllers::auth::Login.to_string() }}">Log in</a>
          {% endmatch %}
        </div>
      </ul>
    </nav>

    <main>{% block main %}{% endblock %}</main>
  </body>
</html>
