<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>{% block title %}Firehose{% endblock %}</title>

    {% block head %}{% endblock %}
  </head>
  <body>
    <nav>
      <a href="/">Firehose</a>

      {% match user %}
      {% when Some(user) %}
      <form method="POST" action="/logout">
        <input type="hidden" name="authenticity_token" value="{{ context.csrf_token.authenticity_token() }}" />
        <button type="submit">Log out</button>
      </form>
      {% when None %}
      <a href="/login">Log in</a>
      {% endmatch %}
    </nav>
    <main>{% block main %}{% endblock %}</main>
  </body>
</html>
