<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    {% match context.request_id %}
    {% when Some(request_id) %}
    <meta name="x-request-id" content="{{request_id}}" />
    {% when None %}
    <meta name="x-request-id" content="(missing)" />
    {% endmatch %}

    <title>{% block title %}Firehose{% endblock %}</title>

    <link rel="stylesheet" href="/dist/index.css">

    {% block head %}{% endblock %}
  </head>

  <body class="dark:text-white dark:bg-gray-900">
    <nav class="bg-gray-50 dark:bg-gray-800 py-1 px-2">
      <ul class="md:flex md:justify-between">
        <div class="md:flex md:space-x-4">
          {# TODO(named routes): use them here #}
          <li><a href="/">Metagram</a>
          <li><a href="/firehose">Firehose</a>
          <li><a href="/about">About</a>
        </div>
        <div class="md:flex md:space-x-4">
          {% match user %}
          {% when Some(user) %}
          <form method="POST" action="/logout">
            <input
              type="hidden"
              name="authenticity_token"
              value="{{ context.csrf_token.authenticity_token() }}"
            />
            <button type="submit">Log out</button>
          </form>
          {% when None %}
          <a href="/login">Log in</a>
          {% endmatch %}
        </div>
      </ul>
    </nav>

    <main>{% block main %}{% endblock %}</main>
  </body>
</html>
