{% extends "layouts/firehose.html" %}

{% import "macros/drop.html" as _drop %}

{% macro list(status, Status, drops) %}
  <h2 id="{{ status }}">{{ Status }}</h2>
  {% if drops.is_empty() %}
    <p>There are no drops here.</p>
  {% else %}
    <ul>
      {% for drop in drops %}
        {% include "firehose/drops/_card.html" %}
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% block main %}
<h1>{% include "_badge.html" %}</h1>

<p>
  Jump to section:
  <a href="#unread">Unread</a>
  <a href="#saved">Saved</a>
  <a href="#read">Read</a>
</p>

{% call list("unread", "Unread", unread_drops) %}
{% call list("read", "Read", read_drops) %}
{% call list("saved", "Saved", saved_drops) %}

{% endblock %}
