{% extends "base.html" %}

{% block main %}
{# TODO(streams): show stream name and query #}
{% if drops.is_empty() %}
<p>You've reached the end of the stream!</p>
{% else %}
<ul class="border-b border-gray-50 dark:border-gray-700 last:border-b-0">
  {% for drop in drops %}
  {# TODO: drop partial #}
  <div class="flex flex-col md:flex-row m-1 p-1">
    <div class="flex flex-col flex-grow">
      <span>
        <a class="no-underline text-2xl break-words" href="{{ drop.url }}">
          {{ drop.display_text() }}
        </a>
      </span>

      {% match drop.domain() %}
      {% when Some(domain) %}
      <span class="my-2">{{ domain }}</span>
      {% when None %}
      {% endmatch %}

      {# TODO(tags): Render the tags here #}
    </div>
    {# TODO(writes): Render the actions here #}
  </div>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
