{% let tags = drop.tags.clone() %}
{% let drop = drop.drop.clone() %}

<div class="flex flex-col md:flex-row m-1 p-1 border-b border-gray-50 dark:border-gray-700 last:border-b-0">
  <div class="flex flex-col flex-grow">
    <span>
      <a class="no-underline text-2xl break-words" href="{{ drop.url }}">
        {{ drop.display_text() }}
      </a>
    </span>

    {% match drop.domain() %}
    {% when Some(domain) %}
    <span class="my-2">{{ domain }}</span>
    {% when None %}
    {% endmatch %}

    <span class="tags mb-2 space-x-2">
      {% for tag in tags %}
        {% include "firehose/tags/_badge.html" %}
      {% endfor %}
    </span>
  </div>

  <div class="mt-2 md:pl-2 whitespace-nowrap">
    <div class="p-2 flex justify-between md:block">
      {% match drop.status %}
      {% when DropStatus::Unread %}
        {% call _drop::action(drop.id, "read",   "Done") %}
        {% call _drop::action(drop.id, "saved",  "Bookmark") %}
        {% call _drop::action(drop.id, "unread", "Snooze") %}
      {% when DropStatus::Read %}
        {% call _drop::action(drop.id, "unread", "Requeue") %}
        {% call _drop::action(drop.id, "saved",  "Bookmark") %}
      {% when DropStatus::Saved %}
        {% call _drop::action(drop.id, "unread", "Requeue") %}
        {% call _drop::action(drop.id, "read",   "Unsave") %}
      {% endmatch %}

      <a
        href="{{ crate::web::drops::Edit::path(drop.id) }}"
        class="btn btn-gray no-underline inline-block"
      >
        Edit
      </a>
    </div>
  </div>
</div>
