{% extends "layouts/firehose.html" %}
{% import "macros/form.html" as form %}

{% block main %}
<h1>New Drop</h1>

<form
  method="POST"
  action="{{ crate::web::drops::Collection.to_string() }}"
>
  {% call form::csrf(context) %}
  {% call form::errors("Drop", drop.errors) %}

  {% include "_fields.html" %}

  <div>
    <button type="submit" class="btn btn-gray">Create Drop</button>
  </div>
</form>

<p class="mt-4">
  Drag <a href="{{ bookmarklet }}">Add to Firehose</a> to your bookmarks bar to
  easily add new drops. Click it when you're on any page to open this form with
  the title and URL pre-filled.
</p>
{% endblock %}
